#jinja2: lstrip_blocks:"True",trim_blocks:"True"
[Interface]
Address = {{ hostvars[inventory_hostname][item + '_address'] }}
PrivateKey = {{ hostvars[inventory_hostname][item + '_private_key'] }}
{% for host in groups[item] %}
{% if host == inventory_hostname %}
{% if hostvars[host][item + '_endpoint'] is defined and not hostvars[host].wireguard_client %}
ListenPort = {{ hostvars[inventory_hostname][item + '_port'] }}
{% endif %}
{% endif %}
{% endfor %}
{% if hostvars[inventory_hostname][item + '_dns'] is defined %}
DNS = {{hostvars[inventory_hostname][item + '_dns']}}
{% endif %}
{% if hostvars[inventory_hostname][item + '_postup'] is defined %}
{% for postup_line in hostvars[inventory_hostname][item + '_postup'] %}
PostUp = {{ postup_line }}
{% endfor %}
{% endif %}
{% if hostvars[inventory_hostname][item + '_postdown'] is defined %}
{% for postdown_line in hostvars[inventory_hostname][item + '_postdown'] %}
PostDown = {{ postdown_line }}
{% endfor %}
{% endif %}
{% if hostvars[inventory_hostname][item + '_save_config'] is defined %}
SaveConfig = true
{% endif %}

{% for host in groups[item] %}
{% if host != inventory_hostname %}
# {{ host }}
[Peer]
PublicKey = {{hostvars[host][item + '_public_key']}}
{% if hostvars[host][item + '_allowed_ips'] is defined %}
AllowedIPs = {{hostvars[host][item + '_allowed_ips']}}
{% elif hostvars[inventory_hostname][item + '_k8s_client'] is defined and hostvars[inventory_hostname][item + '_k8s_client'] %}
AllowedIPs = {{ hostvars[host][item + '_address'].split('/')[0] }}/32{{ hostvars[host][item + '_vpc_networks'] | default('') if hostvars[inventory_hostname][item + '_vpc_networks'] is defined }}
{% elif hostvars[inventory_hostname][item + '_client'] is defined and hostvars[inventory_hostname][item + '_client'] %}
{% elif hostvars[host][item + '_vpc_excluded_servers'] is defined and inventory_hostname in hostvars[host][item + '_vpc_excluded_servers'] %}
AllowedIPs = {{ hostvars[host][item + '_address'].split('/')[0] }}/32
{% else %}
AllowedIPs = {{ hostvars[host][item + '_address'].split('/')[0] }}/32{{ hostvars[host][item + '_vpc_networks'] | default('') if hostvars[inventory_hostname][item + '_vpc_networks'] is defined }}
{% endif %}
{% if hostvars[host][item + '_persistent_keepalive'] is defined %}
PersistentKeepalive = {{hostvars[host][item + '_persistent_keepalive']}}
{% endif %}
{% if hostvars[host][item + '_endpoint'] is defined and hostvars[host][item + '_endpoint'] != "" and not hostvars[host].wireguard_client %}
{% if hostvars[host][item + '_server'] is defined and hostvars[host][item + '_server'] %}
AllowedIPs = 0.0.0.0/0
{% endif %}
Endpoint = {{hostvars[host][item + '_endpoint']}}:{{ hostvars[host][item + '_port'] }}
{% endif %}

{% endif %}
{% endfor %}
